<div class="container-fluid">
  <app-nav></app-nav>
  <div class="row">
    <div id="product-list" class="col-sm-4">
      <ul class="list-group">
        <div class="row" *ngFor="let product of getProducts()">
          <app-products-list-element
            [product]="product"

          ></app-products-list-element>

        </div>
      </ul>
      <button (click)="createNewProduct()" id="create-new-product-button" class="btn btn-warning">Create New Product</button>
    </div>
    <div class="col-sm-2">
      <app-product-card [product]="getActiveProduct()"></app-product-card>
    </div>
    <div class="col-sm-6">
      <app-product-editor [product]="getActiveProduct()"></app-product-editor>
      <!-- <form id="product-update-form">
        <div class="form-group">
          <label for="product-name-input">Product Name</label>
          <input
            id="product-name-input"
            [(ngModel)]="productPrototype.name"
            name="name"
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
          />
        </div>

        <div class="form-group">
          <label for="description">Product Description</label>
          <textarea
            [(ngModel)]="productPrototype.description"
            name="description"
            class="form-control"
            id="product-description"
            rows="3"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="product-name">Price</label>
          <input
            id="product-name-input"
            [(ngModel)]="productPrototype.price"
            name="price"
            type="text"
            class="form-control"
            id="product-price"
            placeholder="name@example.com"
          />
        </div>
        <button (click)="saveNewProduct()" class="btn btn-info">Submit</button>
      </form> -->
    </div>
  </div>
</div>
