/* You can add global styles to this file, and also import other style files */
.stipple2Background {
    background-image: url(/assets/images/stipple2.png);
    background-repeat: repeat;
    animation: pulse 10s infine;
}

* {
    
    font-family: 'NotoSerif-Regular';
    @import url('/assets/fonts/NotoSerif-Regular.ttf');
    
}

a {
    color: inherit;
    text-decoration: inherit;
}
a:hover {
    color: inherit;
    text-decoration: inherit;
}

.center-text {
    text-align: center;
}


.active {
    background-color: rgba(173, 216, 230, 0.445) !important;
    color: rgb(3, 151, 201) !important;


}

li {
    background-color: rgba(255, 202, 44, 0.158) !important;

}

li:hover {
    color: rgb(3, 151, 201) !important;
    border-color: rgb(3, 151, 201) !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="textarea"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}
