html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background: #f4f4f4;
    font-family: sans-serif;
  }
  h2 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 24px;
  }
  h3 {

    color: #787878;
    font-size: 12px;
    margin-top: 12px;
  }
  h4 {

    font-size: 14px;
    margin-top: 6px;
  }
  .card-container {
    display: grid;
    grid-gap: 42px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 0 auto;
    max-width: 1084px;
    padding: 3%;
  }
  .product-card {
    background: #fff;
    padding: 24px 42px 28px;
    position: relative;
    text-align: center;
  }
  .color-choices {
    bottom: 8px;
    left: 20px;
    position: absolute;
  }
  .color-choices li {
    background: black;
    border-radius: 100%;
    display: inline-block;
    height: 8px;
    width: 8px;
  }
  .color-choices li+li {
    margin-left: 2px;
  }
